*{
    box-sizing: border-box;
}
header {
    display: flex;
    border-bottom: 2px solid;
}

header > img {
    width: 100px;
}

header nav {
    position: relative;
    width: 80%;
    display: flex;
    
}

header nav ul {
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    font-size: 1.5EM;
}

header nav li {
    margin: 0 15px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ---- Main ---- */

a {
    text-decoration: none;
}

main {
    border-bottom: black 2px solid;
}

#beachsection {
    background-image: url('../img/beach.jpg');
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    color: white;
    margin: 25px 0;
}

#bandeau {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: #33333388;
    display: flex;
    justify-content: space-between;
    padding-right: 2em;

}

#bandeau > p {
    
    margin: 10px;
    text-shadow: 1px 1px 2px black;
    width: 20%;
}

#bandeau a {
    background-color: #bb3333;
    color: white;
    border-color: #bb3333;
    border-radius: 8px;
    height: 100%;
    padding: 10px 12px;
    
    margin-bottom: 0.2em;
    
  
    
}

#questionmarkdiv {
    display: flex;
}

#questionmarkdiv img {
    width: 32px;
    margin: auto 20px auto 0px;
}

#information {
    display: flex;
}

#information > article {
    width: 75%;
}

aside {
    background-color: black;
    color: white;
    width: 25%;
}

aside > h2 {
    text-align: center
}

aside > p {
    padding: 0% 5%;
}

aside > div {
    margin: 0 0 20% 0;
    text-align: center;
}

aside > div > a > img {
    width: 18%;
    max-width: 32px;
}

#rioflag {
    width: 60%;
    margin: 0% 20%
}

article p {
    text-align: justify;
    margin: 0 20px 20px 0;
}

/* ---- footer ---- */

footer {
    display: flex;
}

footer > * {
    width: 33%;
}

.footerdiv img {
    width: 64px;
}

#newslettername {
    margin: 10px 0;
}

form {
    display: block;
}

#bigimg img:active {
    transform-origin: 50% 100%;
    transform: scale(7);
}