:root {
    --colorpicker: #ef7a36;
    --invertcolorpicker: #1085c9;
    --linecolor: #bbb;
}

html{
    background-color: var(--colorpicker);
    scroll-behavior: smooth;
}

html:after {
    content: "";
    background: url("https://i.pinimg.com/originals/c7/3d/29/c73d29abee5558ace44d8242fa3303e2.png");
    background-repeat: no-repeat;
    background-position: 3% 14%;
    background-size: 200px;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

main{
    background-color: #fff;
}

body{
    max-width: 1350px;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
}

/* ---- GENERAL ---- */

a{
    text-decoration: none;
}

i{
    pointer-events: none;
}

.fab, .fas, .far{
    color: var(--colorpicker);
}

.fas.fa-square{
    color: white;
}

.smallline{
    display: block;
    width: 80px;
    height: 3px;
    background: var(--colorpicker);
    margin: 20px auto;
}

.pointer{
    cursor: pointer;
}

.colorpicked{
    color: var(--colorpicker);
}

button, input{
    outline: none;
}

.coloredbtn{
    height: 3em;
    background-color: transparent;
    border: var(--colorpicker) 1px solid;
    border-radius: 3px;
    width: fit-content;
    padding: 0 1.5em;
    margin: 0 auto;
    transition: background-color 1s;
}

button.coloredbtn:hover, input[type=button]:hover, input[type=submit]:hover{
    background-color: rgba(127, 127, 127, 0.3);
}

.textshadowed{
    text-shadow: 1px 1px 3px black;
}

.flexed{
    display: flex;
}

.padding-0-6{
    padding-left: 6em;
    padding-right: 6em;
}

.padding-2-0{
    padding-top: 2em;
    padding-bottom: 2em;
}

.x3 > *{
    flex: 1;
    padding: 0 0.5em;
}

section{
    text-align: center;
}

.arrow-moveup{
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    
}

/* ---- HEADER ---- */

header{
    background-color: transparent;
    justify-content: space-between;
    padding: 1em 10%;
    align-items: center;
    transition: height 1s;
}

header nav a{
    margin-left: 1em;
    color: white;
}

header nav a:hover{
    padding-bottom: 0.3em;
    border-bottom: 2px white solid;
}

.headerclass-collapsed{
    height: 64px;
}

.headerclass-extended{
    height: 192px;
    overflow: hidden;
}

header img{
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
}

#burgerbtn{
    display: none;
    float: right;
}

#burgerbtn i{
    color: var(--invertcolorpicker);
}

/* ---- COLORPICKER ---- */

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

#colorpicker{
    z-index: 5;
    position: fixed;
    left: 0;
    top: 20vh;
    height: 50px;
    width: 50px;
}

#colorpicker > input{
    width: 100%;
    height: 100%;
}

#colorpicker i{
    color: var(--invertcolorpicker);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    font-size: 1.5em;
}

/* ---- TITLE SECTION ---- */

#titlesection{
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: white;
}

#titlesection button{
    border: solid 0.1em white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    padding: 0.4em 0.7em;
}

#titlesection a{
    color: inherit;
}

#titlesection a:hover{
    text-decoration: none;
}

/* ---- DESC SECTION ---- */

#descsection{
    text-align: left;
    align-items: center;
}

#descsection > div:first-child > p:last-child{
    font-size: smaller;
}

#descsection dt > *:first-child{
    margin-right: 0.5em;
}

#descsection dd{
    font-size: 0.8em;
    margin-bottom: 1em;
    margin-left: 25px;
}

#accordeon{
    padding: 1em 0;
}

#accordeon > div{
    border: 1px black solid;
    margin: 0.5em 0;
    padding: 0 2em;
    overflow: hidden;
}

#accordeon h4{
    margin-left: -1.2em;
    cursor: pointer;
}

#accordeon > div p{
    transition: height, margin 1s;
}

.accordeon-hide{
    height: 0px;
    margin: 0;
}

/* ---- GALLERY SECTION ---- */

/* -- Modal -- */

#modal{
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.6);
}

#modal > div{
    width: 60%;
    height: 60%;
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#modal span{
    font-size: 5em;
    position: absolute;
    top: 0;
    right: 4vw;
    cursor: pointer;
}

/* -- Figure -- */

#gallerysection figure{
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    background-color: #eee;
}

#gallerysection figure > div{
    position: relative;
}

#gallerysection .fas{
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gallerysection figure > div{
    flex: 1 0 25%;
    margin: 0;
    height: 200px;
    width: 25%;
    max-width: 25%;
}

#gallerysection figure > div img{
    height: 100%;
    width: 100%;
    object-fit: cover; /* TODO: Utiliser une alternative pour de la compatibilité */
    transition: opacity 0.3s;
}

#gallerysection figure > div img:hover{
    opacity: 0.6;
}

#gallerysort{
    justify-content: space-between;
    border-bottom: 1px solid var(--linecolor);
}

#gallerysort a:visited {
    color: inherit;
}

#gallerysection ul{
    height: 3em;
    align-items: center;
    padding-left: 0;
}

#gallerysection ul li{
    list-style-type: none;
    margin: 0 0.8em;
    cursor: pointer;
}

#gallerysection button{
    margin: auto 0;
}

#gallerysection img{
    cursor: pointer;
}

/* ---- TESTIMONIAL SECTION ---- */

#testimonialsection hr{
    width: 70%;
    margin: 1.5em auto;
}

#testimonialsection figure{
    margin: 0;
}

#testimonialsection figure > div{
    font-size: 1.4em;
}

#testimonialsection img{
    max-height: 64px;
}

#testimonialsection figure:nth-child(2n+1){
    text-align: left;
}

#testimonialsection figure:nth-child(2n){
    text-align: right;
}

#testimonialsection figure > div{
    margin-bottom: 1.5em;
}

#testimonialsection figure:nth-child(2n) > div{
    flex-direction: row-reverse;
}

.citename{
    font-weight: 700;
}

#testimonialsection > button{
    margin: 2em 0;
}

/* ---- PARALLAX SECTION ---- */

#parallaxsection{
    background-image: url("../img/parallax.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#parallaxsection p{
    width: 70%;
    margin: 0 auto 2em auto;
}

/* ---- FORM SECTION ---- */

#formsection form > div{
    justify-content: center;
}

#formsection form > div > div{
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 1em;
    width: 50%;
    min-width: 50%;
}

#formsection form input, #formsection form textarea{
    margin: 0.6em auto;
    padding: 0.5em;
}

#formsection form > div textarea{
    height: 44%;
    background-color: #ebebeb;
    border: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 3.5em;
    max-height: 25em;
}

#formsection form > div input{
    height: 2em;
    width: 100%;
    background-color: #ebebeb;
    border: none;
}

#formsection #submit{
    margin-left: 6.2em;
}

#formsection label{
    text-align: left;
}

#formsection label.requiredlabel:after{
    content: " *";
    color: #c22;
    font-size: 0.8em;
}

/* ---- ABOUT SECTION ---- */

#aboutsection{
    background-color: #111;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: justify;
    position: relative;
}

#aboutsection.flexed > *{
    flex: 1;
}


#aboutsection > div {
    margin: 0 1em;
}

#aboutsection .smallline{
    margin: 0;
}

#aboutsection #aboutemail{
    width: 90%;
    margin: 0 0 1em 0;
    background-color: #444;
    border: none;
    padding: 0.8em;
    border-radius: 4px;
    color: white;
}

#aboutsection > div:not(:last-child) p{
    color: #aaa;
}

#aboutsection p strong{
    color: white;
}

::placeholder{
    color: #aaa;
}

#aboutsection .arrow-moveup{
    margin: 0 0.5em 0.2em 0;
}

/* ---- FOOTER ---- */

footer{
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer a:hover{
    text-decoration: none;
}

footer div a{
    color: white;
    margin: 1em;
}

footer div{
    margin-bottom: 1em;
}

/* ----------------------- */
/* ---- Media queries ---- */
/* ----------------------- */

@media (hover: none) {
    button.coloredbtn:hover, input[type=button]:hover, input[type=submit]:hover{
        background-color: inherit;
        cursor: inherit;
    }
 }

@media screen and (min-width: 641px){
    nav a{
        display: inline;
    }
}

@media screen and (max-width: 640px){

    #colorpicker{
        height: 25px;
        width: 25px;
    }

    #colorpicker i{
        font-size: 1em;
    }

    header{
        height: 64px;
    }

    nav > a{
        display: none;
        margin: 0.5em 0;
    }

    #burgerbtn{
        display: inline;
    }

    #aboutsection{
        display: block;
    }

    #aboutsection > div:not(last-child){
        margin-bottom: 3em;
    }

    #descsection, footer, #gallerysort, #gallerysort > ul{
        flex-direction: column;
    }

    #gallerysection figure {
        min-height: auto;
    }

    #gallerysort > ul{
        height: auto;
        padding-left: 0;
    }
    
    #gallerysort > ul > li{
        margin-bottom: 0.3em;
    }
    
    #gallerysort > ul .colorpicked{
        border: 1px solid var(--colorpicker);
        padding: 0.2em 0.4em;
    }

    #gallerysort > button{
        margin: 0 auto 0.5em;
    }

    #modal > div{
        width: 90%;
        height: 80%;
    }

    #testimonialsection figure img{
        display: none;
    }

    .padding-0-3{
        padding: 0;
    }

    section#descsection>div {
        min-width: 80%;
        max-width: 80%;
        text-align: center;
    }

    #formsection form > div{
        flex-direction: column;
    }

    #formsection form > div > div {
        margin: auto;
        width: 80%;
    }

    #formsection #submit{
        margin: auto;
    }
}

@media screen and (min-width: 460px) and (max-width: 640px) {
    #gallerysection figure > div{
        flex: 1 0 50%;
        margin: 0;
        height: 200px;
        width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 459px) {
    #gallerysection figure > div{
        flex: 1 0 100%;
        margin: 0;
        height: 200px;
        width: 100%;
        max-width: 100%;
    }
    html{
        font-size: 0.8em;
    }
}