:root {
    --colorpicker: #ef7a36;
    --invertcolorpicker: #1085c9;
    --linecolor: #bbb;
}

html{
    background-color: var(--colorpicker)
}

main{
    background-color: #fff;
}

body{
    max-width: 1350px;
    margin: auto;
}

/* ---- GENERAL ---- */

a{
    text-decoration: none;
}

i{
    pointer-events: none;
}

.fab, .fas, .far{
    color: var(--colorpicker);
}

.fas.fa-square{
    color: white;
}

.smallline{
    display: block;
    width: 80px;
    height: 3px;
    background: var(--colorpicker);
    margin: 20px auto;
}

.colorpicked{
    color: var(--colorpicker);
}

button, input{
    outline: none;
}

.coloredbtn{
    height: 3em;
    background-color: transparent;
    border: var(--colorpicker) 1px solid;
    border-radius: 3px;
    width: fit-content;
    padding: 0 1.5em;
    margin: 0 auto;
}

.textshadowed{
    text-shadow: 1px 1px 3px black;
}

.flexed{
    display: flex;
}

.padding-0-5{
    padding: 0 5em;
}

.x3 > *{
    flex: 1;
    padding: 0 1em;
}

section{
    text-align: center;
}

/* ---- HEADER ---- */

header{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1em 10%;
    align-items: center;
}

header nav a{
    margin-left: 1em;
    color: white;
}

header img{
    height: 64px;
    border-radius: 50%;
}

/* ---- COLORPICKER ---- */

#colorpicker{
    z-index: 5;
    position: fixed;
    left: 0;
    top: 20vh;
    height: 50px;
    width: 50px;
}

#colorpicker > input{
    width: 100%;
    height: 100%;
}

#colorpicker i{
    color: var(--invertcolorpicker);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    font-size: 1.5em;
}

/* ---- TITLE SECTION ---- */

#titlesection{
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: white;
}

#titlesection button{
    border: solid 0.1em white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    padding: 0.4em 0.7em;
}

/* ---- DESC SECTION ---- */

#descsection{
    text-align: left;
    align-items: center;
}

#descsection > div:first-child > p:last-child{
    font-size: smaller;
}

#descsection dt > *:first-child{
    margin-right: 0.5em;
}

#descsection dd{
    font-size: 0.8em;
    margin-bottom: 1em;
}

#accordeon{
    padding: 1em 0;
}

#accordeon > div{
    border: 1px black solid;
    margin: 0.5em 0;
    padding: 0 2em;
}

#accordeon h4{
    margin-left: -1.2em;
}

.accordeon-hide{
    display: none;
}

.accordeon-show{
    display: block;
}

/* ---- GALLERY SECTION ---- */

/* -- Modal -- */

#modal{
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.6);
}

#modal > div{
    width: 60%;
    height: 60%;
    background-image: url("./../img/parallax.jpg");
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#modal span{
    font-size: 5em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* -- Figure -- */

#gallerysection figure{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

#gallerysection figure > div{
    position: relative;
}

#gallerysection .fas{
    color: var(--invertcolorpicker);
    position: absolute;
    top: 42%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 2em;
}

#gallerysection figure > div{
    flex: 1 0 25%;
    margin: 0;
    height: 200px;
    width: 25%;
    max-width: 25%;
}

#gallerysection figure > div img{
    height: 100%;
    width: 100%;
    object-fit: cover; /* TODO: Utiliser une alternative pour de la compatibilité */
}

#gallerysort{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--linecolor);
}

#gallerysection ul{
    display: flex;
    height: 3em;
    align-items: center;
}

#gallerysection ul li{
    list-style-type: none;
    margin: 0 0.8em;
    cursor: pointer;
}

#gallerysection button{
    margin: auto 4em auto 0;
}

#gallerysection img{
    cursor: pointer;
}

/* ---- TESTIMONIAL SECTION ---- */

#testimonialsection{
    padding: 0 3em;
}

#testimonialsection hr{
    width: 70%;
    margin: 1.5em auto;
}

/* Ancienne version avec un ::after pour les traits des testimonial
#testimonialsection figure:not(:last-child)::after{
    background-color: var(--linecolor); 
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    width: 65%;
    margin-top: 1em;
}*/

#testimonialsection figure{
    width: 80%;
    margin: auto;
}

#testimonialsection figure > div{
    font-size: 1.4em;
}

#testimonialsection img{
    max-height: 64px;
}

#testimonialsection figure:nth-child(2n+1){
    text-align: left;
}

#testimonialsection figure:nth-child(2n){
    text-align: right;
}

#testimonialsection figure > div{
    display: flex;
    margin-bottom: 1.5em;
}

#testimonialsection figure:nth-child(2n) > div{
    flex-direction: row-reverse;
}

.citename{
    font-weight: 700;
}

#testimonialsection > button{
    margin: 2em 0;
}

/* ---- PARALLAX SECTION ---- */

#parallaxsection{
    background-image: url("../img/parallax.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#parallaxsection p{
    width: 70%;
    margin: 0 auto 2em auto;
}

/* ---- FORM SECTION ---- */

#formsection{
    padding-bottom: 3em;
}

#formsection form > div{
    display: flex;
    justify-content: center;
}

#formsection form > div > div{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    width: 40%;
}

#formsection form input, #formsection form textarea{
    margin: 0.6em auto;
}

#formsection form > div textarea{
    width: 100%;
    height: 50%;
    background-color: #ebebeb;
    border: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 1.5em;
}

#formsection form > div input{
    height: 2em;
    width: 100%;
    background-color: #ebebeb;
    border: none;
}

#formsection #submit{
    margin-left: 8.3em;
}

#formsection label{
    text-align: left;
}

#formsection label.requiredlabel:after{
    content: " *";
    color: #c22;
    font-size: 0.8em;
}

/* ---- ABOUT SECTION ---- */

#aboutsection{
    background-color: #111;
    color: white;
    padding: 2em 5em;
    text-align: justify;
}

#aboutsection.flexed > *{
    flex: 1;
}


#aboutsection > div {
    margin: 0 1em;
}

#aboutsection .smallline{
    margin: 0;
}

#aboutsection #aboutemail{
    width: 100%;
    margin: 0 0 1em 0;
    background-color: #444;
    border: none;
    padding: 0.8em;
    border-radius: 4px;
    color: white;
}

#aboutsection > div:not(:last-child) p{
    color: #aaa;
}

#aboutsection p strong{
    color: white;
}

::placeholder{
    color: #aaa;
}

/* ---- FOOTER ---- */

footer{
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer a{
    color: white;
    margin: 1em;
}